body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: url('../image/logo.jpeg') no-repeat center center; /* Gambar latar belakang lokal */
    background-size: cover; /* Memastikan gambar memenuhi seluruh area */
    background-attachment: scroll; /* Gambar bergerak dengan scroll */
    color: #0f0f0f;
    position: relative; /* Agar overlay bekerja */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Warna gelap dengan transparansi */
    z-index: -1; /* Agar berada di belakang konten */
}

/* Menambahkan paralaks */
#hero {
    position: relative;
    background: url('../image/logo.jpeg') no-repeat center center; /* Pastikan gambar sama */
    background-size: cover;
    background-attachment: fixed; /* Efek paralaks */
    color: white;
    padding: 60px 20px;
    text-align: center;
    z-index: 1;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparansi untuk fokus pada teks */
    z-index: -1; /* Berada di belakang konten */
}
